@model WebStore.Domain.ViewModels.CatalogViewModel
@{
    ViewData["Title"] = "Shop";
    Layout = "_LayoutBreadCrumbs";
}


<section id="advertisement">
    <div class="container">
        <img src="~/images/shop/advertisement.jpg" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar"/>
            </div>

            <div class="col-sm-9 padding-right">
                <div id="items-container">
                    @await Html.PartialAsync("Partial/_FeaturesItems", Model.Products)
                </div>

                <paging page-model="@Model.PageViewModel"
                        page-action="Shop"
                        page-url-SectionId="@Model.SectionId"
                        page-url-BrandId="@Model.BrandId">

                </paging>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/js/Shop/ProductItems.js" asp-append-version="true"></script>
    <script>
        ProductItems.init({
            getUrl: "@Url.Action("GetFiltredItems","Catalog")"
        });
    </script>
}
